.container{
      padding: 1.5rem 1.5rem;
      background: rgba(255, 255, 255, 0.618);
      backdrop-filter: blur(3px);
      border-radius: 1rem;
      width: 100%;
      
      height: 30rem;
      max-height: 30rem;
      overflow-y: auto;
      box-shadow: 4px 4px 4px rgba(177, 177, 177, 0.566);
}
h3{
      color: rgb(0, 0, 0);
      font-weight: 400;
}
.nearList{
      
      border-radius: 1rem;
      
      margin-top: 0.8rem;
      list-style-type: none;
}
.nearList li{
      padding: 0.5rem;
      margin-top: 0.5rem;
      background-color: rgb(235, 230, 230);
      border-radius:0.5rem;
      border-top-left-radius: 0rem;
      border-top-right-radius: 0rem;
      border-top: 4px solid rgb(54, 140, 143);
      }

