
.heading{
      font-size: 4rem;
      align-items: center;
      justify-content: center;
      padding: 4rem;
      padding-bottom: 1rem;
      padding-left: 3rem;
      width: 60%;
      margin: 0rem 2rem;
background: linear-gradient(45deg, rgba(22, 96, 96, 0.7), rgb(39, 148, 151), rgba(0, 50, 50, 0.894));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desc{
      margin: 0rem 5rem;
      font-size: 1rem;
      font-weight: 400;
      width: 50%;
      padding-left: 1rem;
      border-left: 3px solid black;
}
.searchButton{
      background-color: brown;
}

@media (max-width: 768px) {
  .heading {
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem;
    width: 90%;
margin: 3rem 0;  }

  .desc {
    margin: 1rem auto;
    font-size: 0.9rem;
    width: 80%;
    padding-left: 0.5rem;
    border-left: 2px solid black;
    text-align: center;
  }
  .container{
    width: 100%;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 2rem;
    padding: 1.5rem;
    width: 100%;
    text-align: center;
    margin: 3rem 0;
  }

  .desc {
    font-size: 0.85rem;
    width: 90%;
    text-align: center;
    border-left: none; /* Remove border on very small screens */
  }

  .searchButton {
    width: 100%;
    font-size: 1rem;
    padding: 0.8rem;
  }
}
